body{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: lightgray;
 
}
/*
Header-area----------------------*/
.header-container{
  background-color:#161616;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 139px;
  margin-bottom: 100px;
}
.header-area{
  display: flex;
  height: 600px;
}
.header-info{
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 53px;
}
.header-info h1{
  font-size: 50px;
  color: white;
}
.header-info p{
  color: lightgray;
}
.header-info a{
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 10px;
  background-color: red;
  border-radius: 5px;
}
.fa-solid.filled{
  width: 24px;
  padding-left: 5px;
}
.header-banner img{
  width: 100%;
  height: 546px;
}
/* header area end
---------------------------------------*/
/*transfer area
=======================================*/

.Container{
  display: flex;
  justify-content: center;
  margin-left: 140px;
  margin-right: 139px;
  margin-bottom: 100px;

}
.transfer-info .transfer-text{
 border: 1px solid black;
 padding: 3px 10px;
 border-radius: 5px;
}
.fa-solid.bold{
  color: gray;
}
.transfer-author .message{
  margin-left: 20px;
}
.transfer{
 border: 1px solid gray;
 border-radius:10px ;
 
}
.transfers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: center;
  padding-left: 2%;
  
}
.transfer-image{
  padding: 0;
  margin: 0;
}
.transfer-image img{
  width: 100%;
}
.transfer-info{
  padding: 10px;
}
/*Upcoming area*/

.upcoming-match{
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
}
.match-info{
  width: 252px;
  height: 252px;
  text-align: center;
  padding-top: 50px;
  padding-left: 30px;
  line-height: 60px;
}
.match-info a{
  text-decoration: none;
  color: #161616;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  
}
.match-info .info:focus{
  background-color: red;
  color: white;
  font-weight: bold;
}
#detail{
  background-color: red;
  color: white;
  font-weight: bold;
}
.view-all{
  display: none;
}
.Container .view-all a{
  text-decoration: none;
  background-color: #8b0505;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
}
/*
website-2 area
==================================================*/
#detail{
  background-color: red;
  color: white;
  font-weight: bold;
}
.germany-france{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  padding-left: 2%;
}
.germany{
  background-color: #ffffff;
  box-shadow: 1px 1px 5px gray;
  padding: 20px 20px;
  border-radius: 5px;
}
.flag-image{
  display: flex;


}
.flag-banner img{
     width: 50%;
     padding-left: 20px;
     padding-top: 18px;
}
.flag-info{
  text-align: center;
}


/*
website-2 end====================================*/
/*Footer area
---------------------------------------*/
.goal-area{
  background-color: black;
  padding: 20px;
}
.footer{
  height: 1px;
  width: 100%;
  background-color: gray;
  margin-bottom: 10px;
}
.goal-item h1{
  color: white;
  text-align: center;
}

.goal-area p{
  color: gray;
  text-align: center;
  margin-left: 20px;
  display: inline;
  text-align: center;
  padding-left: 70px;
}
.social-icon{
text-align: center;
margin-top: 20px;
word-spacing: 10px;
font-size: 25px;
}
.fa-google{
  color: goldenrod;
  background-color: rgb(19, 18, 8);
}
.fa-youtube{
  color: red;
}
.fa-facebook{
  color: blue;
  background-color: white;
  }