body{
  font-family: 'Poppins', sans-serif;
  margin: 0 ;
  padding: 0;
  /*background-color: lightgray;*/
 
}
/*
Header-area----------------------*/
.header-container{
  background-color:#161616;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 140px;
  margin-right: 139px;
  margin-bottom: 100px;
}
.header-area{
  display: flex;
  height: 600px;
}
.header-info{
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 53px;
}
.header-info h1{
 font-size: 40px;
  color: white;
  
}
.header-info p{
  color: lightgray;
}

.header-info a{
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 14px;
  background-color: red;
  border-radius: 5px;
  
}
.header-info a:hover{
  background-color: green;
  transition: 2s ;
  
}

.header-banner img{
  width: 100%;
  height: 546px;
}
/*
#detail{
  background-color: red;
  font-size:20px;
  font-weight: bold;
 }*/
/* header area end
---------------------------------------*/
/*transfer area
=======================================*/

.Container{
  display: flex;
  justify-content: center;
  margin-left: 140px;
  margin-right: 139px;
  margin-bottom: 100px;

}
.transfer-info .transfer-text{
 border: 1px solid black;
 padding: 3px 10px;
 border-radius: 5px;
}
.fa-solid.bold{
  color: gray;
}
.transfer-author .message{
  margin-left: 20px;
}
.transfer{
 border: 1px solid gray;
 border-radius:25px ;
 
}
.transfers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-items: center;
  padding-left: 2%;
  
}
.transfer-image{
  padding: 0;
  margin: 0;
}
.transfer-image img{
  width: 100%;
}
.transfer-info{
  padding: 10px;
}
/*Upcoming area*/

.upcoming-match{
  width: 350px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
}
.match-info{
  /*width: 252px;
  height: 252px;*/
  text-align: center;
  padding-top: 50px;
  line-height: 60px;
}
.match-info a{
  text-decoration: none;
  color: #161616;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  
}
.match-info .info:focus{
  background-color: red;
  color: white;
  font-weight: bold;
}
#detail{
  background-color: red;
  color: white;
  font-weight: bold;
}
.view-all{
  display:none;
  
}
.Container .view-all a{
  text-decoration: none;
  background-color: #8b0505;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  
}
/*==================================================*/

/*Footer area
---------------------------------------*/
.goal-area{
  background-color: black;
  padding: 20px;
}
.footer{
  height: 1px;
  width: 100%;
  background-color: gray;
  margin-bottom: 10px;
}
.goal-item h1{
  color: white;
  text-align: center;
}

.goal-area p{
  color: gray;
  text-align: center;
  margin-left: 20px;
  display: inline;
  text-align: center;
  padding-left: 70px;
}
.social-icon{
text-align: center;
margin-top: 20px;
word-spacing: 10px;
font-size: 25px;
}
.fa-google{
  color: goldenrod;
  background-color: rgb(19, 18, 8);
}
.fa-youtube{
  color: red;
}
.fa-facebook{
  color: blue;
  background-color: white;
  }
  /* 
  Media Quaery area====================*/
  /* 
   Mobile Device
  =====================================*/
  @media only screen and (max-width:577px){
    /*header area*/
     .header-container{
      margin: 0;
      padding: 0;
     
     }
     .header-area{
      height: auto;
      width: 100% ;
      justify-content: center;
      align-items: center;
      flex-direction: column;
     }
     .header-info{
      
      margin: 0;
      width: 50%;
     }
     .header-banner img{
      width: 100%;
      margin-top: 20px;
     }
     .header-info .text-title{
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
  
       }
     /*Main container area
     -------------------------*/
     .Container{
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
     }
    
     .Container{
      flex-direction: column;
   
     }
     .transfers{
      grid-template-columns: repeat(1,1fr);
      
     }
     .transfer{
      width: 100%;
      
     }
     .transfer img {
      width: 100%;
     }
     .transfer-info{
      width: 50%;
     }
     
     /*upcoming*/
     .upcoming-match{
      background:none;
      
     }
     
    .match-info a{
      box-shadow: 0px 1px 2px gray;
    }
    .match-info{
      padding-left: 120px;
    }

    /*footer area*/
    .goal-area p{
      display: flex;
      justify-content: space-evenly;
      padding-right: 80px;

    }
   
    
  }
  /* tablate device 
  -------------------------------------------*/
  @media only screen and (min-width:578px) and (max-width:992px){
  
    /* header area*/
    .header-container{
      margin: 0;
      padding: 0;
    }
    
    .header-banner img{
      width: 100%;
     }
     .header-info .text-title{
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
  
       }
    


    /* main container area */
    
     .Container{
      flex-direction: column;
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
     }
     .transfers{
      grid-template-columns: repeat(2,1fr);
     }
     .transfers #last-child{
      display: none;
     }
     .transfers .view-all{
      display: block;
      margin-top: 20px;
      
     }
     .upcoming-match{
      background:none;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      width: 100%;
     }
     .match-info a{
      box-shadow: 0px 1px 2px gray;
      margin-right: 20px;
    }
    .match-info{
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
   
   
  }